.nav {
    display: flex;
    margin-top: 6px;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
}

.nav a {
    display: block;
}

.logo,
#menu {
    display: flex;
    margin: auto var(--gap);
}

.logo {
    flex-wrap: inherit;
}


/* -------------- home 图标hover修改 ---------------- */

.link-arrow {
	background: var(--theme);
}

.link-arrow a {
	padding: 0 0.25em;
    font-size: 24px;
    font-weight: 700;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: translateX(0);
	transform: translateX(0);
    transition: all 0.8s;
}

.link-arrow a:hover,
.link-arrow a::after {
	-webkit-transform: translateX(-1em);
	transform: translateX(-1em);
    color: var(--theme);
    transition: all 0.8s;
}

.link-arrow a::before,
.link-arrow a::after {
	position: absolute;
	height: 100%;
	content: '';
    transition: all 0.8s;
}

.link-arrow a::before {
	left: 0;
	z-index: -1;
	width: 100%;
	background: var(--theme);
    color:var(--theme);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.link-arrow a::after {
	left: 100%;
	z-index: -2;
	width: 1em;
    display: inline-block;
	background: #226699 url("../../arrow-right-white.svg") no-repeat 50% 50% !important;
	background-size: 60% auto;
	text-align: center;
	font-family: Arial, sans-serif;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	pointer-events: auto;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.link-arrow a:hover::before {
    color: white;
    background: var(--link-hover-color);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: -3px 5px 12px grey;
    transition: all 0.8s ease .15s;
}

.link-arrow a:hover::after {
	-webkit-transform: translateX(0);
    box-shadow: -3px 5px 12px grey;
	transform: translateX(0);
}


.logo a img, .logo a svg {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 12px;
    margin-inline-end: 8px;
}

button#theme-toggle {
    font-size: 26px;
    margin: auto 4px;
}

body.dark #moon {
    vertical-align: middle;
    display: none;
}

body:not(.dark) #sun {
    display: none;
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}

#menu li + li {
    margin-inline-start: var(--gap);
}

#menu a {
    font-size: 16px;
    font-weight: 500;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

/* 功能等待拓展 */

/* #menu a:hover,
#menu a:focus {
	color: #fff;
}

#menu a::before {
	position: absolute;
	top: 0px;
	left: -5px;
	z-index: -1;
	box-sizing: content-box;
	padding: 0 5px;
	width: 100%;
	height: 100%;
	background: #e74c3c;
	content: '';
	opacity: 0;
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
	-webkit-transform: skewY(-3deg) skewX(-11deg);
	transform: skewY(-3deg) skewX(-11deg);
}

#menu a:hover::before,
#menu a:focus::before {
	opacity: 1;
	-webkit-transform: skewY(0) skewX(0);
	transform: skewY(0) skewX(0);
} */

#menu .active {
    font-weight: 500;
    border-bottom: 2px solid currentColor;
}

.lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
    margin: auto auto;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit;
}

.lang-switch a {
    margin: auto 3px;
    font-size: 16px;
    font-weight: 500;
}

.logo-switches {
    flex-wrap: inherit;
}
